Flask==2.3.3
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Flask-Mail==0.9.1
Flask-SocketIO==5.3.4
Werkzeug==2.3.7
cloudinary==1.36.0
itsdangerous==2.1.2
python-engineio==4.8.0
python-socketio==5.10.0

# Optional: Install only if using PostgreSQL
# psycopg2-binary==2.9.9
